/*************************************************************************************************************************************************************************
************************************************************************ ESTILOS GENERALES ******************************************************************************
*************************************************************************************************************************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 30px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../images/empresa.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-wrap: 1;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 1000;
    background-color: #0c88db;
    color: rgb(0, 0, 0);
    text-align: center;
}

.navbar {
    font-size: 1rem;
    font-style: bold;
}

.presentacion {
    padding: 2rem;
    border-bottom: 3px solid #1a01fa;
    margin-top: 100px;
}

.descripcion {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 7px rgb(255, 255, 255);
    background: #4e93dd96;
    border-bottom: 3px solid #1a01fa;
}

.servicios {
    background: #4e93dd96;
    font-weight: bold;
    border-bottom: 3px solid #1a01fa;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 7px rgb(255, 255, 255);
    text-decoration: underline;

}

.news-section {
    display: flex;
    flex-direction: column;
    gap: 1px;

}

.news-container {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 20px;
    max-width: 700px;
    margin: 20px;
    background-color: #0056b3;
    border-radius: 10px;
}



/*************************************************************************************************************************************************************************
***************************************************************************** GALERÍA DINAMICA ************************************************************************
*************************************************************************************************************************************************************************/
.titulo {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 3px 2px 5px rgb(0, 140, 255);
    color: black;
}

.app {
    margin-top: 50px;
    margin-left: 800px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.card {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 1px;

}

.card-img {
    height: 300px;
    width: 100%;
    cursor: pointer;
    gap: 20px;
}

.window-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.window-modal.hidden {
    display: none;
}

.modal-content {
    display: flex;
    align-items: center;
    /* Alinea verticalmente los elementos */
}

.window-img {
    max-width: 90%;
    max-height: 90%;
}

.btn {
    color: rgb(2, 240, 248);
    cursor: pointer;
    background: rgb(1, 38, 248);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    /* Espacio entre los botones y la imagen */
}

.btn:hover {
    background: rgba(0, 0, 0, 0.7);
    /* Cambia el color al pasar el mouse */
}

/*************************************************************************************************************************************************************************
************************************************************************ FORMULARIO/PRESUPUESTO **************************************************************************
*************************************************************************************************************************************************************************/
header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
}

form {
    max-width: 600px;
    margin: auto;
}

fieldset {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #000000;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.error {
    color: rgb(255, 0, 0);
    font-size: 0.9rem;
    margin-top: -0.8rem;
    margin-bottom: 1rem;
}

button {
    display: block;
    width: 100%;
    padding: 0.7rem;
    background: #81e212;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

/*************************************************************************************************************************************************************************
****************************************************************************PRESUPUESTO *********************************************************************************
*************************************************************************************************************************************************************************/
#presupuestoFinal {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

fieldset {
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

label {
    display: block;
    margin: 0.5rem 0 0.2rem;
}

button {
    padding: 0.7rem;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background: #0056b3;
}

.titulo2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 1rem;
    text-decoration: underline;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 100px;
}

/*************************************************************************************************************************************************************************
************************************************************************* MÁPA DINAMICO ************************************************************************************
*************************************************************************************************************************************************************************/

#datosContacto {
    margin: 20px;
    background-color: #007bff;
    padding: 20px;
    border-radius: 8px;
    
}

#mapa {
    margin: 20px;
    z-index: 800;
}

/* El contenido principal ocupa todo el espacio restante */
main {
    flex: 1;
}

/*************************************************************************************************************************************************************************
*********************************************************************************** FOOTER *******************************************************************************
*************************************************************************************************************************************************************************/
footer {
    background-color: #0c88db;
    color: #000000;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    box-sizing: border-box;
    display: block;
  }

.social-media {
    margin-top: 10px;
    justify-content: center;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 35px;
    /* Ajusta el tamaño de los iconos */
    height: auto;
    /* Mantiene la proporción de los iconos */
    transition: transform 0.3s;
    /* Efecto de transición al pasar el mouse */
}

.social-media img:hover {
    transform: scale(1.5);
    /* Aumenta el tamaño del icono al pasar el mouse */
}

/*************************************************************************************************************************************************************************
************************************************************************ MEDIA QUERY *************************************************************************************
*************************************************************************************************************************************************************************/

/*************************************************************************************************************************************************************************
************************************************************************ LOCALIZACÍON DE LA PÁGINA *************************************************************************
*************************************************************************************************************************************************************************/
.active {
    background-color: rgba(91, 196, 214, 0.897);
    padding: 10px;
    border-radius: 30px;
}

/*************************************************************************************************************************************************************************
************************************************************************ CONTAINER NOTICIAS ******************************************************************************
*************************************************************************************************************************************************************************/
.news-section {
    padding: 20px;
}

#news-container {
    display: grid;
    /* Usar grid para el contenedor de noticias */
    grid-template-columns: repeat(3, 1fr);
    /* Tres columnas de igual tamaño */
    gap: 20px;
    /* Espacio entre las tarjetas de noticias */
}

.news-card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra para dar profundidad */
}

.news-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.news-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.news-card p {
    font-size: 0.9rem;
    color: #555;
}

.news-card a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.news-card a:hover {
    text-decoration: underline;
}