<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="./../css/estilos.css">
    <!-- Enlace al CSS de Leaflet.js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <!-- Enlace al CSS de Leaflet Routing Machine -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css">
</head>
<body>
    <header>
            <h1>TechNova Solutions S.L.</h1>
            <nav class="navbar">
                <div class="nav-links">
                    <a href="../index.html">Inicio</a></li>
                    <a href="../views/galeria.html">Galería</a></li>
                    <a href="../views/presupuesto.html">Presupuesto</a></li>
                    <a href="../views/contacto.html" class="active">Contacto</a></li>
                </div>
            </nav>
    </header>
    
    <section id="mapa">
        <h2>Ubicación:</h2>
        <div id="map" style="height: 400px;"></div>
    </section>
    <section id="datosContacto">
        <h2>Datos de Contacto</h2>
        <p>Nombre de la Empresa: TechNova Solutions S.L.</p>
        <p>Dirección: Calle Ficticia, 123, 28000 Madrid, España</p>
        <p>Teléfono: +34 123 456 789</p>
        <p>Email: info@TechNova Solutions S.L.com</p>
    </section>
    <footer>
        <p>&copy; 2024 TechNova Solutions S.L. <br> Todos los derechos reservados. <br>Dirección: Calle Ficticia, 123, 28000 Madrid, España.</p>
            <div class="social-media">
                <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
                    <img src="../images/png/Facebook.png" alt="Facebook" />
                </a>
                <a href="https://twitter.com" target="_blank" aria-label="X (Twitter)">
                    <img src="../images/png/X.png" alt="X (Twitter)" />
                </a>
                <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
                    <img src="../images/png/Instagram_icon.png.webp" alt="Instagram" />
                </a>
            </div>
    </footer>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="../js/scripts.js"></script>
</body>
</html>

